html,
body {
  width: 100%;
  height: 100%;
}

a {
  color: #ff1d8e;
  -o-transition: all .35s;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

a:hover,
a:focus {
  color: #0099cc;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h1 {
  font-family: 'Nova Mono', ;
  color: #fff;
}

.landing-header {
  width: 100%;
  min-height: 500px;
  background-image: url(landing.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.nav-header {
  width: 100%;
  height: 135px;
}

.nav-list {
  font-family: 'Marvel', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  list-style-type: none;
  padding-top: 60px;
  padding-right: 50px;
}

.nav-list li {
  display: inline;
  padding-left: 30px;
}

.nav-right {
  float: right;
}

.nav-menu {
  display: none;
}

.sfuff-logo {
  width: 180px;
  height: 150px;
  float: left;
}

@media (max-width: 768px) {
  .sfuff-logo {
    width: 110px;
    height: 85px;
  }
  .nav-header {
    height: 65px;
  }
  .nav-list {
    display: none;
  }
  .nav-menu {
    display: inline;
    color: #ff1d8e;
    padding-top: 15px;
    padding-right: 20px;
    float: right;
  }
}

