html,
body {
  width: 100%;
  height: 100%;
}

a {
  color: #ff1d8e;
  -o-transition: all .35s;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

a:hover,
a:focus {
  color: #0099cc;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: 'Khand', sans-serif;
  margin-top: 0;
}

h1,
h2 {
  color: #2a2a2a;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

h4 {
  color: #2a2a2a;
  font-size: 21px;
  line-height: 1.4;
}

h5 {
  color: #2a2a2a;
  font-family: 'Khand', sans-serif;
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.landing-header {
  width: 100%;
  min-height: 500px;
  background-image: url(landing.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.landing-header h1 {
  padding-top: 150px;
  font-size: 86px;
}

.landing-header h4 {
  font-size: 36px;
  font-weight: 700;
  color: #2a2a2a;
  text-transform: uppercase;
}

.landing-arrow {
  padding-top: 50px;
  color: #2a2a2a;
  text-align: center;
}

.nav-container {
  border-color: #fff;
  background-color: #fff;
}

.navbar-header {
  display: inline;
}

.nav-header {
  width: 100%;
  height: 100px;
}

.nav-item {
  font-family: 'Khand', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
}

.sfuff-logo {
  width: 180px;
  height: 150px;
  float: left;
}

.section-header {
  padding: 10px;
}

.about-section,
.patreon-section,
.contact-section,
.social-footer {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #f1f1f1;
}

.contact-section,
.social-footer {
  padding-bottom: 50px;
}

.about-section h2 {
  color: #ff1d8e;
  text-decoration: underline;
}

.about-section span {
  color: #2a2a2a;
  text-decoration: none;
}

.patreon-section h2 {
  color: #ff0;
  text-decoration: underline;
}

.patreon-section span {
  color: #2a2a2a;
  text-decoration: none;
}

.contact-section h2 {
  color: #0099cc;
  text-decoration: underline;
}

.contact-section span {
  color: #2a2a2a;
  text-decoration: none;
}

.about-container,
.patreon-container,
.contact-container {
  padding: 70px 20px;
  border-radius: 25px;
  background-color: #fff;
}

.about-container {
  border: 4px solid #ff1d8e;
}

.patreon-container {
  border: 4px solid #ff0;
}

.contact-container {
  border: 4px solid #0099cc;
}

.contact-form {
  font-family: 'Khand', sans-serif;
  font-size: 20px;
  text-align: center;
}

.form-field {
  padding-bottom: 15px;
}

.social-footer {
  background-color: #0099cc;
  text-align: center;
}

.social-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-icons li {
  display: inline;
  padding: 15px 15px;
}

.social-icons li > a {
  color: #fff;
}

.social-icons li > a:hover {
  color: #ff1d8e;
}

.toggle-nav {
  margin-top: 25px;
}

.contact-button {
  background-color: transparent;
  color: #2a2a2a;
  border: 4px solid #0099cc;
  font-family: 'Fjalla One', sans-serif;
  font-size: 18px;
  border-radius: 25px;
  width: 120px;
  text-transform: uppercase;
}

.contact-button:active,
.contact-button:focus,
.contact-button:active:focus {
  outline: none;
  box-shadow: none;
}

.contact-button:hover {
  background-color: transparent;
  color: #2a2a2a;
  border: 4px solid #ff1d8e;
  -o-transition: all .35s;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

@media (max-width: 768px) {
  .sfuff-logo {
    width: 110px;
    height: 80px;
  }
  .nav-header {
    height: 65px;
  }
  .landing-header h1 {
    padding-top: 120px;
  }
}

@media (max-width: 568px) {
  h4 {
    font-size: 17px;
  }
}

